@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
	margin: 0 50px;
	text-align: center;
}
.title {
	font-size: 42px;
	text-align: center;
	font-weight: bold;
	padding: 30px 0;
	font-family: 'Poppins', sans-serif;
}
/* OPTION_1_CSS_START */
.option_1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    padding-top: 100px;
    background: #f1b9de;
    width: 1300px;
    overflow: hidden;
}
.background {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.background::before {
	content: '';
	display: block;
	position: absolute;
	border-radius: 100%;
	width: 1200px;
	height: 1200px;
	transform: translate(70%, -30%);
	background-color: #efa3d4;
}
.background::after {
	content: '';
	display: block;
	position: absolute;
	border-radius: 100%;
	width: 800px;
	height: 800px;
	background-color: #fef4eb;
	transform: translate(-21%, -113%);
	z-index: 0;
}
.bg {
	text-align: center;
	display: inline-block;
}
.box {
	height: 300px;
	width: 300px;
	background-color: #3167ee;
	top: -188px;
	position: absolute;
	right: 0;
	left: 510px;
	border-radius: 30px;
	box-shadow: -10px 10px 0px 6px white;
}
.box h2 {
    text-align: center;
    font-size: 95px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
/* OPTION_1_CSS_END 
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/* OPTION_2_CSS_START */
.option_2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    padding-top: 100px;
    background: #f1b9de;
    width: 1300px;
    overflow: hidden;
}
.background_2 {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.background_2::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 350px;
    height: 350px;
    background-color: #fef4eb;
    right: 0;
    top: 180px;
}
.background_2::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 1000px;
    height: 1000px;
    background-color: #efa3d4;
    transform: translate(-20%, -50%);
    z-index: 0;
}
.bg_2 {
	text-align: center;
	display: inline-block;
}
.box_2 {
    height: 230px;
    width: 230px;
    background-color: #3167ee;
    top: 40px;
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 60px;
    border-radius: 18px;
    box-shadow: -7px 8px 0px 6px skyblue;
    z-index: 99;
}
.box_2 h2 {
    text-align: center;
    font-size: 76px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.box_bg {
    background-color: #fef4eb;
    height: 320px;
    width: 1000px;
    top: -187px;
    position: relative;
    right: 0;
    left: 150px;
    border-radius: 15px;
    box-shadow: -7px 8px 0px 6px white;
    z-index: 99;
    border: 8px solid;
}
.box_2-text p {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    line-height: 72px;
    text-align: left;
}
.box_2-text {
    position: absolute;
    text-align: 0;
    top: -13px;
    left: 280px;
    width: 1000px;
}
/* OPTION_2_CSS_END 
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/


/* OPTION_3_CSS_START */
.option_3 {
    display: flex;
    justify-content: center;
    padding-bottom: 300px;
}
.pseudo_class {
    padding: 0 120px;
}
.pseudo_class p {
    font-size: 46px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.pseudo_class  h3 {
    font-size: 64px;
    margin: 0;
    margin-bottom: 70px;
}
.pseudo_class a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: 1px solid #af69ee;
    color: black;
    padding: 7px 20px;
    border-radius: 30px;
    font-weight: 500;
}
.pseudo_class a:hover{
  background-color: #af69ee;
	transition: ease 0.5s;
}
.bt_line{
	position: relative;
}
.bt_line::after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #000000;
    transform: translate(20%, -15px);
    z-index: 0;
}
.bt_line::before {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #000000;
    transform: translate(305%, 10px);
    z-index: 0;
}
/* OPTION_3_CSS_END 
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/