$color-1:red;
$color-2:green;
$color-3:pink;
$color-4:white;
$color-5:purple;
$color-6:orange;
$color-7:skyblue;
$color-8:yellow;
$color-9:black;
$color-10:gray;

$color-bg1:blue;
$color-bg2:magenta;
$color-bg3:aqua;
$color-bg4:indigo;
$color-bg5:violet;
$color-bg6:brown;
$color-bg7:teal;
$color-bg8:rgb(74, 56, 22);
$color-bg9:lime;
$color-bg10:chocolate;