body {
	margin: 0 50px;
}
/* OPTION_1_CSS_START */
.title {
	font-size: 42px;
	text-align: center;
	font-weight: bold;
	padding: 30px 0;
}
.option_1 {
	background-color: #0b7eb5;
	height: 400px;
	border: 10px solid black;
	border-radius: 25px;
	padding: 30px;
}
.option_1 p {
	font-size: 46px;
	color: #ffffff;
	background-color: #114862;
	padding: 20px 5px;
	margin: 0;
}
/* OPTION_1_CSS_END 
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/* OPTION_2_CSS_START */
.option_2 {
	background: linear-gradient( #9cf7dc, #6292d3);
	height: 400px;
	padding: 30px;
}
/* OPTION_2_CSS_END 
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/* OPTION_3_CSS_START */
.option_3 {
	background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
	height: 400px;
	padding: 30px;
}
/* OPTION_3_CSS_END 
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/* OPTION_4_CSS_START */
.option_4 {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 320px;
	padding-top: 100px;
	background: #3c31dd;
}
.background {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.background::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: #202731;
}
.background::after {
	content: '';
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 55%;
	height: 100%;
	background-color: #3c31dd;
	transform: translate(-4%, 40%);
	z-index: 0;
}
.bg {
	background-color: #202731;
	height: 770px;
}
/* OPTION_4_CSS_END 
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/


/* OPTION_5_CSS_START */
.bgbox {
	text-align: center;
	display: block ruby;
}
.option_5 {
	background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
	height: 600px;
	width: 80%;
	border-radius: 30px;
	padding: 30px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* OPTION_5_CSS_END 
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/* OPTION_6_CSS_START */
.option_6 {
	background: linear-gradient(-550deg, #01b286 60%, #222 30%);
	height: 600px;
	padding: 30px;
}